/* Sam's Twitch Addons - Settings Style sheet */

body {
  --main-bg: #0e0e10; /*ALMOST BLACK*/
  --main-secondary: #18181b; /*DARK GREY*/
  --main-secondary-alt: #1f1f23; /*DARK LIGHTER GREY*/
  --accent: #9146ff; /*TWITCH PURPLE*/
  --accent-grey: #38383f; /*LIGHTER GREY*/

  max-width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0 auto;
  color: #fff;
  background-color: var(--main-bg);
  font-family: Arial, sans-serif;
  font-size: 1rem;
}
::selection {
    background-color: var(--accent);
    color: var(--main-secondary);
}
.main {
  width: 100%;
  display: flex;
  align-items: center;
}
.wrapper {
  width: 100%;
  padding: 20px;
}
.header {
  align-items: center;
  background-color: var(--main-secondary);
  margin-bottom: 20px;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  user-select: none;
}
.header h1 {
  margin: 0;
  font-family: Verdana, sans-serif;
  text-align: center;
  font-weight: bold;
}
.alert {
  color: #fff;
  background-color: #facb85;
  padding: 10px;
  margin-bottom: 20px;
  border-right: 10px solid #d98509;
  border-left: 10px solid #d98509;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  user-select: none;
}
.alert p {
  color: #0e0e10;
  margin: 0;
  font-size: 1rem;
}
.alert-selection::selection {
  background-color: #E5E5E5;
}
.card {
  background-color: var(--main-secondary-alt);
  margin-bottom: 20px;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card a {
  color: inherit;
}
.card a:hover {
  color: var(--accent);
}
.card p {
  color: #868686;
  margin: 4px;
}
.footer {
  bottom: 0;
  position: fixed;
  background-color: var(--main-secondary);
  margin: 15px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.link-container {
  display: flex;
  justify-content: center;
  padding: 3px;
}
.footer-link {
  display: inline-block;
  color: #fff;
  padding: 10px;
  padding-top: 7px;
  padding-bottom: 7px;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
  user-select: none;
}
.footer-link:hover {
  color: #fff;
  background-color: var(--accent);
  text-decoration: none;
}